/* Your stylesheet goes here */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

#heading {
	padding: 3em;
}

h1 {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
	color: #BC6026;
}

#info-section {
	padding: 40px;
}

#info-section .col-md-4 {
	text-align: center;
}

#heading p {
	display: none;
}

#headline p {
	font-style: italic;
}

.column-header {
	margin-bottom: 1.5em;

}

.icon-svg {
	height: 1.5em;
	fill: #D87E28;
}

#headline svg {
	display: none;
}

.nav-click {
	color: white;
	text-decoration: none;
	font-variant: small-caps;
}

.nav-click:hover {
	color: #D87E28;
	text-decoration: none;
}

nav {
	position: fixed;
	background-color: #181C22;
	font-size: 16px;
	width: 100%;
	z-index: 1000;
}

nav li {
	display: inline;
	padding: 0.5em;
}

#nav-icon {
	margin-left: 15px;
	height: 1em;
	fill: white;
}

#nav-icon:hover {
	fill: #D87E28;
}

#info-section {
	background-color: #dbdce3;
}






@media screen and (min-width: 768px) {
	body {
		font-size: 20px;
	}

	#heading {
		color: white;
		text-align: right;
		background-image: url('../img/background-sm.jpg');
		background-repeat: no-repeat;
		min-height: 550px;
		width: 100%;
	}

	#heading p {
		display: block;
	}

	#headline {
		font-size: 1.25em;
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	#headline svg {
		display: inline;
		height: 1.5em;
		margin-bottom: 1em;
		fill: #D87E28;
	}

	h2 {
		text-align: center;
		padding-bottom: 1em;
	}

	nav {
		background-color: rgba(24, 28, 34, 0.8);
	}

	nav li {
		padding: 1em;
	}
}






@media screen and (min-width: 992px) {
	#heading {
		background-image: url("../img/background-md.jpg");
		background-repeat: no-repeat;
		height: 550px;
	}

	#heading h1 {
		font-size: 4em;
	}
}






@media screen and (min-width: 1200px) {
	#heading {
		background-image: url("../img/background-lg.jpg");
		background-repeat: no-repeat;
		height: 550px;
	}
}




/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}